@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter var', sans-serif;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  color: #fff;
  height: 3px !important;
  border-radius: 3px !important;
  width: 16px !important;
  background: #fff !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(241, 245, 249);
  color: rgb(241, 245, 249);
  width: 24px !important;
}

.swiper-button-next {
  color: #fff !important;
}

.swiper-button-next::after {
  font-size: 30px !important;
}

.swiper-button-prev {
  color: #fff !important;
}
.swiper-button-prev::after {
  font-size: 30px !important;
}

.swiper {
  width: 100%;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
