@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter var', sans-serif;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  color: #fff;
  height: 3px !important;
  border-radius: 3px !important;
  width: 16px !important;
  background: #fff !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(241, 245, 249);
  color: rgb(241, 245, 249);
  width: 24px !important;
}

.swiper-button-next {
  color: #fff !important;
}

.swiper-button-prev {
  color: #fff !important;
}
